---
layout: default
---

{% include header.html %}
<section class="projects-main">
  <section class="row container">
    <div class="project col-md-4">
      <img src="/img/main/project_1.png" alt="Code for Seoul">
      <div class="caption">
        <h4>Code for Seoul</h4>
        <p>코드포서울은 IT기술을 활용해서 직접 공공에게 도움이 되는 서비스를 만들 수 있는 개발자,디자이너,기획자 그룹으로 이뤄져 있습니다. 코드나무는 전 세계 시빅 해킹 커뮤니티들과 함께 도시의 문제를 해결하기 위하여 전 세계 시민들과 협력하고 있습니다.</p>
      </div>
      <img class="thumbnail-desc" src="/img/main/codeforseoul.jpg" alt="Code for Seoul">
    </div>
    <div class="project col-md-4">
      <img src="/img/main/project_2.png" alt="해커톤">
      <div class="caption">
        <h4>해커톤</h4>
        <p>코드나무는 공공기관에는 공공정보를 개방할 수 있도록 가이드와 민간의 의견들을 제공하고 민간에서는 공공데이터를 활용한 다양한 서비스와 어플리케이션을 개발을 할 수 있도록 매 년 해커톤을 열고 있습니다.</p>
      </div>
      <img class="thumbnail-desc" src="/img/main/hackathon.jpg" alt="해커톤">
    </div>
    <div class="project col-md-4">
      <img src="/img/main/project_3.png" alt="번역/보고서">
      <div class="caption">
        <h4>번역 / 보고서</h4>
        <p>열린정부(정부2.0)의 개념과 가치를 알리기 위해서 코드나무는 해외 도서들을 번역하고 있고 공공데이터 개방에 대한 전반적인 컨설팅 및 연구를 진행하고 있습니다.</p>
      </div>
      <img class="thumbnail-desc" src="/img/main/document.jpg" alt="번역/보고서">
    </div>
  </section>
</section>
<section class="blog-main">
  <section class="row container">
    <div class="badge-heading badge-blog row">
      <h3>Blog</h3>
      {% for item in site.categories.blog limit:2 %}
        <div class="blog row">
          <h4><a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></h4>
          <P>{{ item.content | truncatewords:55 }}</P>
        </div>
      {% endfor %}
    </div>
  </section>
</section>
<section class="works-main">
  <section class="row container">
    <div class="badge-heading badge-works row">
      <h2>결과물</h2>
      <p>코드나무 활동가들이 그동안 만든 웹/앱 서비스 목록입니다.</p> 
    </div>
    <div class="row">
    {% for work in site.data.works limit:4 %}
      <div class="work col-md-3">
        <a href="#" class="thumbnail">
          <img src="/img/works/{{ work.img }}" alt="{{ work.name }}">
        </a>
        <h4>{{ work.name }}</h4>
        <p>{{ work.description }}</p>
        <div class="links row">
          <button class="btn btn-default"><a href="{{ work.url }}"><span class="glyphicon glyphicon-globe"></span></a></button>
          <button class="btn btn-default"><a href="{{ work.github }}"><i class="fa fa-github fa-lg"></i></a></button>
          <button class="btn btn-default"><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></button>
        </div>
      </div>
    {% endfor %}
    </div>
  </section>
</section>
<section class="publications-main ">
  <section class="row container">
    <div class="badge-heading badge-publications row">
      <h3>자료집</h3>
      <p>코드나무 활동가들이 그동안 만든 결과물들입니다.</p>
    </div>
    <div class="row">
      <div class="publication col-md-4">
        <img src="img/publication/open_government.jpg" alt="열린 정부 만들기" width="100%">
        <h4>열린 정부 만들기</h4>
        <p><a href="#">교보문고</a> | <a href="#">알라딘</a> | <a href="#">예스24</a> | <a href="#">인터파크</a></p>
        <p><a href="#">2장, 25장 바로보기</a> | <a href="https://docs.google.com/document/d/1TbobpKJ-7eR9WIKXlCn5tXBvtJR9gzdfOwpbp7XBhHs/edit?userstoinvite=donnaronjeff1@att.net">스터디 노트</a></p>
      </div>
      <div class="publication col-md-4">
        <img src="img/publication/gov2.0.jpg" alt="[공동번역] 참여와 소통의 정부2.0">
        <h4>참여와 소통의 정부 2.0</h4>
        <p><a href="#">교보문고</a> | <a href="#">알라딘</a> | <a href="#">예스24</a> | <a href="#">인터파크</a></p>
        <p>PDF 공개 문서: <a href="#">바로보기</a> | <a href="#">다운로드</a></p>
<!--         
        <div class="row">
          <button class="btn btn-default"><a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?barcode=9788996366539" target="_blank"><span class="glyphicon glyphicon-globe"></span> 사러 가기</a></button>
          <button class="btn btn-default"><a href="http://www.scribd.com/doc/63548697/%EC%B0%B8%EC%97%AC%EC%99%80-%EC%86%8C%ED%86%B5%EC%9D%98-%EC%A0%95%EB%B6%802-0-%ED%98%B8%EC%A3%BC-%EC%A0%95%EB%B6%802-0-%ED%83%9C%EC%8A%A4%ED%81%AC%ED%8F%AC%EC%8A%A4-%EB%B3%B4%EA%B3%A0%EC%84%9C%20" target="_blank"><span class="glyphicon glyphicon-download"></span> PDF 다운로드</a></button>
          <button class="btn btn-default"><a href="/projects/translation/#translation_gov2.0" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> 세부 정보</a></button>
        </div>
         -->
      </div>
      <div class="publication col-md-4">
        <img src="img/etc/report.png" alt="[보고서] 서울시 열린 데이터 광장 – Open API 검증">
        <div class="row">
          <button class="btn btn-default"><a href="http://www.slideshare.net/codenamu/open-api-35911489" target="_blank"><span class="glyphicon glyphicon-download"></span> PDF 다운로드</a></button>
          <button class="small default pretty btn"><a href="#"><span class="glyphicon glyphicon-info-sign"></span> 세부 정보</a></button>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="partners-main">
  <section class="row container">
    <div class="badge-heading badge-partner row">
      <h3>함께하는 사람들</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a title="CCKOREA" href="http://cckorea.org" class="thumbnail"><img src="img/partners/cckorea_logo.png" alt="CCKOREA"></a>
      </div>
      <div class="col-md-3">
        <a title="Code for All" href="http://code-for-all.github.io/codeforall.org/" class="thumbnail"><img src="img/partners/codeforall_logo.png" alt="Code for All"></a>
      </div>
      <div class="col-md-3">
        <a title="CCKOREA" href="http://cckorea.org" class="thumbnail"><img src="img/partners/cckorea_logo.png" alt="CCKOREA"></a>
      </div>
      <div class="col-md-3">
        <a title="Code for All" href="http://code-for-all.github.io/codeforall.org/" class="thumbnail"><img src="img/partners/codeforall_logo.png" alt="Code for All"></a>
      </div>
    </div>
  </section>
</section>
