---
layout: page
---

<div class='listing col-md-12'>
  {% for post in site.posts limit:1000 %}
    <div class="row">
      {% capture date %}{{ post.date | date: '%B %Y' }}{% endcapture %}
      {% capture ndate %}{{ post.next.date | date: '%B %Y' }}{% endcapture %}

      {% if date != ndate %}
        <h4 class='month'>{{post.date | date: '%B %Y'}}</h4>
      {% endif %}
      <h2><a class='post' href='{{post.url}}'>{{post.title}}</a></h2> <span class='date'>&#126; {{post.date | date:"%b %d"}}</span>
      {{ post.excerpt }}
    </div>
  {% endfor %}
</div>

<!-- 
{% include rss-link.html %}
 -->