@import url('assets/bootstrap/dist/css/bootstrap.min.css');


/* customize for bootstrap  */
ul {
	list-style: none;
	padding-left: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	margin-bottom: 0px;
	text-align: center;
}

.dropdown-menu > li > a {
	font-size: 17px;
	padding:5px 25px;
}


/* index */
.thumbnail {
	text-align: center;
}

.project .thumbnail{
	min-height: 220px;
}

.work {
	clear:none;
}

.work:nth-of-type(4n+2) {
	margin-left: 0;
	clear: both;
}

.publication .thumbnail {
	border:0px;
}

.publication .cover-img {
	width: 247px;
	height: 325px;
	margin:0 auto;
}

.publication img {
	width: 100%;
}


.partners > .row {
	display: flex;
}

.partner {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.partner img {
	width: 60%;
	margin:0 auto;
}

/* Resources */
.organisations li:nth-of-type(4n+1) {
	margin-left: 0;
	clear: both;
}

.organisations .logo {
	min-height: 200px;
}


.data_visualization {
	background-color: #5BC0DE;
}
.map_visualization {
	background-color: #9dc84c;
}

/* footer */
footer {
	margin-top: 50px;
	background-color: #F8F8F8;
	border-color: #E7E7E7;
}


/* page */
.page-banner {
	min-height: 250px;
	margin-bottom: 50px;
	padding-top: 70px;
}

.page-banner h1 {
	color: white;
	font-weight: 750;
}