body {
  font-size: 18px;
  line-height: 25px;
  color: #666666;
}

h1, h2, h3 {
  line-height: 44px;
  margin: 0px;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  color: #EE4446;
}

img {
  width: 100%;
}

/* All */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

.jumbotron {
  margin-bottom: 0px;
}

.thumbnail {
  border: 0px;
}

.badge-heading {
  background-position: left top;
  background-repeat: no-repeat;
  min-height: 55px;
  margin-bottom: 48px;
  padding-left: 68px;
  position: relative;
}

.badge-heading h2 {
  margin-bottom: 70px;
}

.badge-heading:before, .badge-heading:after {
  background-size: 52px auto;
  border-radius: 100px;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.badge-works:before, .badge-works:after {
  background-image: url("/img/badges/works.svg");
}

.badge-blog:before, .badge-blog:after {
  background-image: url("/img/badges/blog_badge.png");
}

.badge-publications:before, .badge-publications:after {
  background-image: url("/img/badges/publications.svg");
}

.badge-partner:before, .badge-partner:after {
  background-image: url("/img/badges/partners.svg");
}


/* Header */

nav {
  z-index: 1;
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #EE4446;
}

.nav > li > a {
  color: #5b5a5a;
  padding: 21px 22px;
}

.dropdown-menu {
  font-size: 16px;
  border: 0px;
  box-shadow: 0px 0px 0px 0px;
}

.dropdown-menu > li > a {
  padding: 3px 97px 4px 40px;
  font-weight: bold;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:active {
  color: #EE4446;
}

.logo {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  height: 460px;
  z-index: 2;
}

header .row {
  height: 100%;
  position: relative;
  max-width: inherit;
}

header img {
  width: 50%;
}

.header-intro-wrap {
  text-align: center;
  padding-top: 154px;
  padding-bottom: 154px;
}

.header-intro-wrap h1 {
  font-weight: 900;
}

.header-intro-wrap p {
  background-color: white;
}

.terminal {
  margin-top: 60px;
}

.easteregg {
  font-size: 15px;
  font-weight: bold;
  color: #4F4F4F;
}

/* index */
.container {
  margin: 0 auto;
}

.blog-main, .works-main, .publications-main, .partners-main {
  padding: 65px 35px 45px 35px;
}

.projects-main h2, .blog-main h2, .works-main h2, .publications-main h2 {
  font-size: 50px;
  font-weight: bold;
}

.projects-main h2 .subtitle, .blog-main h2 .subtitle, .works-main h2 .subtitle, .publications-main h2 .subtitle {
  font-size: 20px;
}
.main h3 {
  font-size: 44px;
}

.projects-main > .row {
  max-width: 65rem;
}

.projects-main .project {
  /*width: 345px;
  padding: 38px 25px;*/
  /*margin: 0 0 0 21px;*/
  min-height: 700px;
  position: relative;
  text-align: center;
}

.projects-main .project .project-thumbnail {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  text-align: center;
}

.projects-main .project img {
  width: auto;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .project {
    margin-left: 0px;
  }
}

.projects-main .project h4 {
  color: #43A9E5;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.project p {
  color: #666;
  text-align: left;
}

.project .thumbnail-desc {
  position: absolute;
  left: 25px;
  bottom: 24px;
  width: 295px;
  text-align: center;
}
.projects-main {
  padding: 24px 0 45px 0;
}

.work  {
  padding: 0px 25px;
  min-height: 590px;
}

.work .thumbnail {
  margin-bottom: 0px;
}

.work .link {
  text-align: center;
  margin-top: 2em;
}

.work img {
  width: 220px;
  height: 220px;
  border: 1px solid black;
  border-radius: 150px;
}

.work h4 {
  font-size: 23px;
  color: #3CA0E2;
  text-align: center;
  margin-top: 45px;
}

.work p {
  font-size: 14px;
  line-height: 22px;
}

.work .links {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 80px;
}

.blog-main {
  background-color: #EE4446;
  color: white;
}

.blog {
  margin-bottom: 15px;
}

.blog a {
  color: white;
}

.blog-main h2 {
  color: white;
}

.blog-main .badge-heading {
  margin-bottom: 0px;
}

.publications-main {
  padding-bottom: 95px;
  background-color: #29A9E1;
  color: white;
}

.publication {
  text-align: center;
}

.publication a {
  color: white;
}

.publication a:hover, .publication a:active {
  color: #EE4446;
}

.publication .thumbnail, .publication img {
  width: 222px;
  height: 290px;
  margin: 0 auto;
}

.partners-main .partner {
  display: table;
  height: 120px;
}

.partners-main .partner a {
  display: table-cell;
  vertical-align: middle;
}

/* Page */
.page-banner h1 {
  text-align: center;
}

.page-inner-banner {
  margin-bottom: -100px;
}

.page-row {
  padding-top: 70px;
  padding-bottom: 70px;
}

.page-row h1 {
  margin-bottom: 20px;
}

/* About */

.page-codenamu {
  font-size: 16px;
  line-height: 22px;
  margin-top: -70px;
}

.page-codenamu .row-1 {
  background-color: #29A9E1;
  color: white;
  font-size: 16px;
  line-height: 28px;
}

.page-codenamu .row-1 div div:last-child {
  height: 450px;
  background: url('/img/about/codenamu/intro_1.png') left top no-repeat;
  background-size: cover;
}

.page-codenamu .row-2 .col-1 h1, .page-codenamu .row-2 .col-1 h4 {
  color: #29A9E1;
}

.page-codenamu .row-2 .col-2 h1, .page-codenamu .row-2 .col-2 h4 {
  color: #DE404A
}

li.person:nth-of-type(2n+1) {
  margin-left: 0;
  clear: both;
}


/* Resources */
.organisations li:nth-of-type(4n+1) {
  margin-left: 0;
  clear: both;
}

.organisations .thumbnail > img {
  min-height: 150px;
}

.organisations .org {
  min-height: 100px;
  margin-bottom: 20px;
}

/* labeling for tools  */
.data_visualization {
  background-color: #5BC0DE;
}
.map_visualization {
  background-color: #9dc84c;
}


/* page */
.page-banner {
  min-height: 250px;
  padding-top: 70px;
  margin-bottom: 70px;
}

.page-banner h1 {
  color: white;
  font-weight: 750;
}

.page-top-header {
  padding-bottom: 12px;
  color: #e94345;
}

.page-license {
  text-align: right;
}

/* Page - People */

.page-people .person-info {
  font-size: 16px;
  line-height: 23px;
}

.page-people .person-info h4 {
  font-size: 18px;
  color: #000;
}

.page-people .person {
  margin-bottom: 70px;
}

/* Page - Paper */


/* labeling for papers  */
.author-odi {
  background-color: #F2BB30;
}

.author-cfa {
  background-color: #CF1B41;
}

.author-nesta {
  background-color: #009FEE;
}

.author-etc {
  background-color: gray;
}


/* Page - Code for Seoul */

.page-cfs .page-row img {
  padding-left: 70px;
}


/* Page - Hackathon */

.page-hackathon .row-2 {
  background-color: #EE4446;
  color: white;
  font-size: 16px;
  line-height: 28px;
}

.page-hackathon .row-3 img {
  margin-top: 25px;
}

/* Blog */

.heading {
  margin: 80px 0;
}

.prose p {
  line-height: 1.67em;
}

.prose img {
  width: 80%;
  margin: 30px 0;
}

/* Footer */

footer {
  background-color: #4D4D4D;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-top: 100px;
  color: #C4C4C4;
  font-size: 14px;
  line-height: 22px;
}

footer a {
  color: #C4C4C4;
  font-weight: bold;
}

footer .footer-1 {
  padding-left: 50px;
  padding-right: 50px;
}

footer .footer-4 li {
  float: left;
  margin-right: 20px;
}

footer img#codenamu-license {
  width: 69px;
}
