<footer>
  <section class="row container">
    <div class="large-3 columns footer-1">
      <img src="/img/footer/footer_codenamu.png" alt="" width="100%">
    </div>
    <div class="large-3 columns footer-2">
      <p>코드나무는 열린 정부를 실현하기 위한 시민들의 자발적인 커뮤니티입니다.</p><br>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img id="codenamu-license" alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="/img/footer/footer_cclicense.png" /></a><br /><a xmlns:cc="http://creativecommons.org/ns#" href="http://codenamu.org" property="cc:attributionName" rel="cc:attributionURL">코드나무 활동가</a>에 의해 작성된 <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">코드나무 홈페이지</span>은(는) <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">크리에이티브 커먼즈 저작자표시 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
    </div>
    <div class="large-3 columns footer-3">
      <ul>
<!--         <li><a href="/categories/notice">공지사항</a></li>
        <li><a href="/categories/codestory">춘식이의 코드이야기</a></li>
        <li><a href="/categories/news">외부소식</a></li> -->
      </ul>
    </div>
    <div class="large-3 columns footer-4">
      <h3>연락하기</h3>
      <ul>
        <li><a href="https://github.com/codenamu"><img src="/img/footer/footer_github.png" alt=""></a></li>
        <li><a href="https://twitter.com/codenamu"><img src="/img/footer/footer_twt.png" alt=""></a></li>
        <li><a href="https://facebook.com/codenamu"><img src="/img/footer/footer_facebook.png" alt=""></a></li>
        <li><a href="mailto:contact@codenamu.org"><img src="/img/footer/footer_email.png" alt=""></a></li>
      </ul>
      <br/>
      <p>
        코드나무는 <a href="http://aws.amazon.com" target="_blank">아마존 웹 서비스</a>의 지원을 받아 운영됩니다.
      </p>

    </div>
  </section>
</footer>
