<footer>
	<section class="row">
		<div class="three columns">
			<h3>메뉴</h3>
			<ul>
				<li><a href="">소개</a></li>
				<li><a href="">프로젝트</a></li>
				<li><a href="">결과물</a></li>
				<li><a href="">참고자료</a></li>
				<li><a href="">블로그</a></li>
				<li><a href="">참여하기</a></li>
			</ul>
		</div>
		<div class="three columns">
		</div>
		<div class="three columns">
			<h3>카테고리</h3>
			<ul>
				<li><a href="">전체</a></li>
				<li><a href="">카테고리1</a></li>
				<li><a href="">카테고리2</a></li>
				<li><a href="">카테고리3</a></li>
				<li><a href="">카테고리4</a></li>
				<li><a href="">카테고리5</a></li>
			</ul>
		</div>
		<div class="three columns">
			<h3>연락하기</h3>
			<ul>
				<li><a href="https://github.com/codenamu"><i class="fa fa-github fa-lg"></i> @codenamu</a></li>
				<li><a href="https://twitter.com/codenamu"><i class="fa fa-twitter fa-lg"></i> @codenamu</a></li>
				<li><a href="https://facebook.com/codenamu"><i class="fa fa-facebook fa-lg"></i> @codenamu</a></li>
				<li><a href="mailto:contact@codenamu.org"><i class="fa fa-at fa-lg"></i> contact at codenamu dot org</a></li>
			</ul>

		</div>
	</section>
</footer>