<!-- START: Site Header -->
<header role="banner" class="site-header">
	<div class="row">
		<!-- START: Intro -->
		<div class="twelve columns header-intro-wrap fadeUpIn">
			<h1 class="logo">csv<span>,</span>conf</h1>
			<p>
				A conference for data makers everywhere.
				<br />
				<small>(And any data - <a href="#about">not just CSVs</a>!)</small>
			</p>
			<p>Berlin, 15 July, 2014.</p>
			<p class="buttonz">
				<a href="#schedule" class="btn-side animate-on-scroll scroll-animation-init fadeInLeft" data-scrollanimation="fadeInLeft">View Schedule</a>
			</p>
			<p>csv,conf Berlin is a wrap! See videos/coverage <a href="http://lanyrd.com/2014/csv-conf/coverage/">on lanyrd</a>.</p>
			<div class="catch-errors-top"></div>
		</div>
		<!-- /END: Intro -->
	</div>
</header>