<!-- START: Site Header -->
<header role="banner" class="site-header">
	<div class="row">
		<!-- START: Intro -->
		<div class="twelve columns header-intro-wrap fadeUpIn">
			<h1 class="logo">Code Namu</h1>
			<p>
				We Make Open Government.
				<br />
				우리는 열린 정부를 지향하는 자발적인 시민들의 커뮤니티입니다.
			</p>
			<div class="catch-errors-top"></div>
		</div>
		<!-- /END: Intro -->
	</div>
</header>
<span class="easteregg" style="display: none;">Above is live github activities of korean civic hacking communities. <a href="?csv=https://raw.githubusercontent.com/datasets/house-prices-uk/master/data/data.csv">Try rendering a different CSV.</a></span>
