<div style="display: none;" class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle=""></button>
  <div class="title-bar-title">Codenamu</div>
</div>

<div style="display: block;" class="top-bar" id="menu">
  <div class="top-bar-left">
    <li role="menuitem" class="menu-text"><a href="/"><img class="top-logo" src="/img/top_logo.png" alt="코드나무"></a></li>
  </div>
  <div class="top-bar-right">
    <ul role="menubar" class="dropdown menu" data-dropdown-menu>
      <!-- <li role="menuitem" class="menu-text">Codenamu</li> -->
      <li data-is-click="false" aria-label="One" aria-expanded="false" aria-selected="false" aria-haspopup="true" role="menuitem" class="has-submenu is-dropdown-submenu-parent is-down-arrow">
        <a tabindex="0" href="#">소개</a>
        <ul style="" role="menu" aria-hidden="true" class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="">
          <li role="menuitem">
            <a href="/about/codenamu">코드나무는?</a>
          </li>
          <li>
            <a href="/about/people">함께하는 사람들</a>
          </li>
        </ul>
      </li>
      <li data-is-click="false" aria-label="One" aria-expanded="false" aria-selected="false" aria-haspopup="true" role="menuitem" class="has-submenu is-dropdown-submenu-parent is-down-arrow">
        <a tabindex="0" href="#">프로젝트</a>
        <ul style="" role="menu" aria-hidden="true" class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="">
          <li>
            <a href="/projects/codeforseoul">코드포서울</a>
          </li>
          <li>
            <a href="/projects/hackathon">해커톤</a>
          </li>
          <li>
            <a href="/projects/publication">서적/보고서</a>
          </li>
        </ul>
      </li>
      <li><a href="/works">결과물</a></li>
      <!-- 
      <li data-is-click="false" aria-label="One" aria-expanded="false" aria-selected="false" aria-haspopup="true" role="menuitem" class="has-submenu is-dropdown-submenu-parent is-down-arrow">
        <a tabindex="0" href="#">참고자료</a>
        <ul class="submenu menu vertical">
          <li><a href="/resources/organisations">단체/기관</a></li>
          <li class="divider"></li>
          <li><a href="/resources/tools">서비스/도구</a></li>
          <li class="divider"></li>
          <li><a href="/resources/paper">보고서/외부자료</a></li>
        </ul>
      </li>
       -->
      <li><a href="/blog">블로그</a></li>
      <li><a href="/joinus">참여하기</a></li>
    </ul>
  </div>
<!--   <div class="top-bar-right">
    <ul class="menu">
      <li><input placeholder="Search" type="search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div> -->
</div>

<!-- <div class="top-bar" role="navigation">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu role="menu">
      <li class="menu-text" role="menuitem">Codenamu</li>
      <li class="has-submenu">
        <a href="#">소개</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="/about/codenamu">코드나무는?</a></li>
          <li><a href="/about/people">함께하는 사람들</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">프로젝트</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="/projects/codeforseoul">코드포서울</a></li>
          <li><a href="/projects/hackathon">해커톤</a></li>
          <li><a href="/projects/publication">서적/보고서</a></li>
        </ul>
      </li>
      <li><a href="/works">결과물</a></li>

    </ul>
  </div>
</div> -->
