<div class="title-bar" data-responsive-toggle="menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle=""></button>
  <div class="title-bar-title"><img class="top-logo" src="/img/top_logo.png" alt="코드나무"></div>
</div>

<div class="top-bar" id="menu">
  <div class="top-bar-left">
    <li role="menuitem" class="menu-text"><a href="/"><img class="top-logo" src="/img/top_logo.png" alt="코드나무"></a></li>
  </div>
  <div class="top-bar-right">
    <ul role="menubar" class="dropdown menu" data-dropdown-menu>
      <li data-is-click="false" aria-label="One" aria-expanded="false" aria-selected="false" aria-haspopup="true" role="menuitem" class="has-submenu is-dropdown-submenu-parent is-down-arrow">
        <a tabindex="0" href="#">소개</a>
        <ul style="" role="menu" aria-hidden="true" class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="">
          <li role="menuitem">
            <a href="/about/codenamu">코드나무는?</a>
          </li>
          <li>
            <a href="/about/people">함께하는 사람들</a>
          </li>
        </ul>
      </li>
      <li data-is-click="false" aria-label="One" aria-expanded="false" aria-selected="false" aria-haspopup="true" role="menuitem" class="has-submenu is-dropdown-submenu-parent is-down-arrow">
        <a tabindex="0" href="#">프로젝트</a>
        <ul style="" role="menu" aria-hidden="true" class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="">
          <li>
            <a href="/projects/codeforseoul">코드포서울</a>
          </li>
          <li>
            <a href="/projects/hackathon">해커톤</a>
          </li>
          <li>
            <a href="http://read-data.codenamu.org">리드데이터</a>
          </li>
          <li>
            <a href="/projects/publication">서적/보고서</a>
          </li>
        </ul>
      </li>
      <li><a href="/works">데이터 시각화</a></li>
      <li><a href="/blog">블로그</a></li>
      <li><a href="/joinus">참여하기</a></li>
    </ul>
  </div>
</div>
