<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Site Title</li>
      <li class="has-submenu">
        <a href="#">One</a>
        <ul class="submenu menu" data-submenu>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
<!-- <div class="top-bar" role="navigation">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu role="menu">
      <li class="menu-text" role="menuitem">Codenamu</li>
      <li class="has-submenu">
        <a href="#">소개</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="/about/codenamu">코드나무는?</a></li>
          <li><a href="/about/people">함께하는 사람들</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">프로젝트</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="/projects/codeforseoul">코드포서울</a></li>
          <li><a href="/projects/hackathon">해커톤</a></li>
          <li><a href="/projects/publication">서적/보고서</a></li>
        </ul>
      </li>
      <li><a href="/works">결과물</a></li>
      <li class="has-submenu">
        <a href="#">참고자료</a>
        <ul class="submenu menu vertical">
          <li><a href="/resources/organisations">단체/기관</a></li>
          <li class="divider"></li>
          <li><a href="/resources/tools">서비스/도구</a></li>
          <li class="divider"></li>
          <li><a href="/resources/paper">보고서/외부자료</a></li>
        </ul>
      </li>
      <li><a href="/blog">블로그</a></li>
      <li><a href="/joinus">참여하기</a></li>
    </ul>
  </div>
</div> -->

<script>
// window.onload = function () {
//   var menuList = ['navabout', 'navprojects', 'navworks', 'navresources', 'navblog', 'navjoinus'];
//   var removeActive = function () {
//     for (var i in menuList) {
//       $(menuList[i]).removeClass('active');
//     }
//   }
//   var addActive = function () {
//     var currentUrl = window.location.pathname;
//     var currentLocation = currentUrl.split('/');
//     $('#nav' + currentLocation[1]).addClass('active');
//   }
// 
//   removeActive();
//   addActive();
// };

</script>
