---
layout: page
banner: resources_orgs.jpg
title: 참고자료 - 보고서/외부자료
---
<section class="container">
  <section class="page-papers row">
    {% for papers in site.data.resources.papers %}
      <section class="row">
        <h2 class="page-header">{{papers.category}}</h2>
        <ul>
          {% for paper in papers.list %}
            <li class="paper col-md-4">
              <a title="{{paper.name}}" href="{{paper.url}}"><h3>{{paper.name}}</h3></a>
              <p>{{paper.description}}</p>
              {% for label in paper.label %}
                <span class="label {{ label.slug }}">{{label.name}}</span>
              {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </section>
  <div class="row">
    <small><a href="https://www.flickr.com/photos/wowcckorea/14791928521">Banner Image</a> - CC BY from CCKOREA</small>
  </div>
</section>