---
layout: page
banner: works.png
title: 결과물
---

<section class="row container page-works">
    {% for row in site.data.works %}
        <div class="row">
            <h3>{{ row.category }}</h3>
            <hr>
            {% for work in row.list %}
            <div class="small-12 large-3 columns work">
                <a href="{{ work.url }}">
                    <img class="thumbnail" src="/img/works/{{ work.img }}" alt="{{ work.name }}">
                </a>
                <div class="caption">
                    <h4>{{ work.name }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</section>
