---
title: '코드나무 커뮤니티'
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include nav.html %}

  {{content}}

  {% include footer.html %}  
  <script src='{{site.baseurl}}/assets/jquery/dist/jquery.min.js'></script>
  <script src='{{site.baseurl}}/assets/bootstrap/dist/js/bootstrap.js'></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545728d347911556" async="async"></script>
  <script>
  	// trigger dropdown event with hover
  	$('.dropdown').hover(function(){ 
		  $('.dropdown-toggle', this).trigger('click'); 
		});
  </script>
</body>
