---
title: '코드나무 커뮤니티'
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '881903491829543',
				xfbml      : true,
				version    : 'v2.2'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	{% include nav.html %}

	{{content}}

	{% include footer.html %}

	<script src="{{site.baseurl}}/assets/jquery/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.js"></script>
	<script src="{{site.baseurl}}/assets/underscore/underscore-min.js"></script>
	<script src="{{site.baseurl}}/assets/header/bundle.js"></script>
	<script src="{{site.baseurl}}/assets/notepad.js"></script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-545728d347911556" async="async"></script>
	<script>
		$(document).foundation();
		console.log('start!');
	</script>
</body>
